@import url(variable.css);

/* -----------------------------------*/

/* main element */
body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    background-color: var(--background-color);
    overflow: hidden;
}

body, .button-go {
    color: var(--color-title);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
}

.text-and-moon{
    margin-bottom: 1em;
}

h1 {
    text-align: center;
    font-family: var(--font-family-home-h1);
}

.text-soundbite {
    width: 48%;
    color: var( --font-color-p);
    margin-left: 36px;
    font-family: var(--font-family-navigate-p);
    line-height: 33px;
    font-size: 20px;
}

.button-home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* svg and img */


.rocket-home-page {
    width: 60%;
    padding-left: 70px;
}

.svg-moon-home {
    width: 30%;
    position: absolute;
    right: 0;
    bottom: 9em;
    z-index: 0;
}

/* button */
.button-go {
    text-decoration: none;
    background-color: var(--color-home-btn);
    font-family: var(--font-family-home-button);
    font-weight: 900;
    letter-spacing: 0.1em;
    font-size: 24px;
    padding: 13px 80px;
    border-radius: 100px;
    box-shadow: inset 10px -9px 29px rgba(11, 11, 11, 0.65);
    border: none;
    cursor: pointer;
    margin-bottom: .3em;
}

.button-go:hover {
    background-image: linear-gradient(to right, var(--color-hover-light-home-btn), #ebf8e1, 10%,var(--color-hover-dark-home-btn));
    animation:slide 1s linear infinite;
}

@keyframes slide {
    to {
      background-position: 200px;
    }
}
  

/* link */
.text-button {
    font-size: 13px;
    color: var(--font-color-play);
    font-family: var(--font-family-play-p);
    text-decoration: none;
}

/* stars */
/* stars phone */
.stars-phone {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    top: -10vh;
    z-index: -1;
}

.star-top-left, .star-top-right, .star-middle-left, .star-middle-right, .star-bottom-left, .star-bottom-right, .star-top-middle, .star-middle-top-left {
    width: 1em;
    animation:shooting 3s linear infinite; 
}

@keyframes shooting {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.stars-phone img:nth-child(1) {
    animation-delay: 1s;
}

.stars-phone img:nth-child(2) {
    animation-delay: 3s;
}

.stars-phone img:nth-child(3) {
    animation-delay: 2.5s;
}

.stars-phone img:nth-child(4) {
    animation-delay: 1.5s;
}

.stars-phone img:nth-child(5) {
    animation-delay: 3.5s;
}

.stars-phone img:nth-child(6) {
    animation-delay: 2s;
}

.stars-phone img:nth-child(7) {
    animation-delay: 1s;
}

.star-top-left {
    width: 2em;
}

.star-middle-left {
    width: 2em;
}

.star-top-middle {
    width: 2em;
}

/* stars tablette et desktop */
.stars-desktop{
    display: none;
} 

.star-tablette-middle-left, .star-tablette-middle-right, .star-tablette-middle-top, .star-tablette-middle-bottom {
    position: absolute;
    z-index: -1;
    width: 2em;
    animation:shooting 5s linear infinite;
}

.star-tablette-middle-left {
    left: 16em;
    top: 10em;
}

.star-tablette-middle-right {
    right: 19em;
    top: 9em;
}

.star-tablette-middle-top {
    right: 10em;
    bottom: 8em;
}

.star-tablette-middle-bottom {
    right: 22em;
    bottom: 17em;
}




/* iPads ----------- */
@media screen and (min-width : 768px) and (max-width : 1023px) {
    
    main {
        margin: auto;
        width: 80%;
    }
    
    h1 {
        font-size: 70px;
        padding-top: .5em;
        margin-bottom: 20px;
    }

    .rocket-home-page{
        width: 90%;
        padding-left: 0;
    }

    .text-and-moon {
        margin-bottom: 2em;
    }

    .text-soundbite {
        font-size: 32px;
        width: 60%;
        line-height: 50px;
        margin: 0;
    }

    .button-go {
        padding: 20px 160px;
        font-size: 40px;
    }

    .text-button {
        font-size: 24px;
    }

    @keyframes slide {
        to {
          background-position: 400px;
        }
    }

    /* stars tablettes */

    .stars-desktop {
        display: block;
    }

    .star-tablette-middle-left {
        left: 13em;
        top: 14em;
    }

    .star-tablette-middle-right {
        right: 8em;
        top: 19em;
    }
   
}

/* Desktops ----------- */
@media screen and (min-width : 1024px) {

    main {
        margin: 0 auto;
        width: 95%;
    } 
    
    h1 {
        font-size: 70px;
        padding-top: 0;
        margin: 0;
    }

    .rocket-home-page{
        width: 90%;
        padding-left: 0;
    }

    .text-soundbite {
        font-size: 40px;
        width: 39%;
        line-height: 50px;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .button-go {
        padding: 20px 160px;
        font-size: 40px;
    }

    @keyframes slide {
        to {
          background-position: 400px;
        }
    }

    .text-button {
        font-size: 24px;
    }

    /* stars Desktop */

    .stars-desktop {
        display: block;
    }

}
