@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet');

:root {
  /* color */
  --color-title: #9747ff;
  --background-color: #2a2946;

  /* btn-color */
  --color-btn: #9747ff;
  --color-dark-btn: #7d13ff;
  --color-light-btn: #b073ff;
  --color-home-btn: #ffb800;
  --color-hover-dark-home-btn: #ff8f00;
  --color-hover-light-home-btn: #ffde12;
  --color-light-btn-choose: #e6e6e6;
  --color-dark-btn-choose: #7d7d7d;

  /* font-family-color */
  --font-color-p: #ffde12;
  --font-color-play: #ff8f00;

  /* font-family */
  --font-family-home-h1: "Audiowide", Verdana, sans-serif;
  --font-family-home-button: "Lato", Verdana, sans-serif;
  --font-family-navigate-p: "Lato", Verdana, sans-serif;
  --font-family-play-p: "Signika Negative", Verdana, sans-serif;
}



